# Regression - How does a school's environment affect its students' Math Assessment scores?

Predict the percentage of students who will receive a 3+ on the math assessment

**Import Packages**

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
sns.set_style('white')
import matplotlib.pyplot as plt
%matplotlib inline

**Read Data**

In [18]:
nyc_schools_math = pd.read_csv('Data/nyc_schools_math.csv')
nyc_schools_math.head()

,DBN,School Name,Supportive Environment Rating,Interesting and challenging curriculum,Effective teaching and learning,Effective school assessment,Clear communication - high expectations,Teacher collaboration,"Safety, inclusivity, social-emotional growth",Resource allocation and management,...,Strong Family-Community Ties Score,Trust Score,Borough,District,Level 1 %,Level 2 %,Level 3 %,Level 4 %,Level 3+ %,% Tested
0,01M015,P.S. 015 Roberto Clemente,4,4,3,3,3,3,4,4,...,3.80,3.99,M,1,11.940298,29.850746,32.835819,25.373135,58.208954,0.387283
1,01M019,P.S. 019 Asher Levy,3,4,4,4,4,4,4,4,...,4.10,3.55,M,1,23.595505,17.977528,29.213484,29.213484,58.426968,0.364754
2,01M020,P.S. 020 Anna Silver,2,2,2,2,3,2,3,3,...,3.64,3.12,M,1,41.509434,23.113207,17.924528,17.452829,35.377357,0.457883
3,01M034,P.S. 034 Franklin D. Roosevelt,2,2,2,2,3,3,2,3,...,3.33,2.32,M,1,54.751133,29.411764,10.859729,4.977376,15.837104,0.690625
4,01M063,The STAR Academy - P.S.63,3,4,3,4,3,4,4,4,...,4.01,3.95,M,1,18.750000,23.437500,37.500000,20.312500,57.812500,0.361582